---
const pageTitle = "About these balls";
---

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro balls yas yas</title>
  </head>

  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>
        <h2>... and my new Astro site!</h2>
    <h1>Miss me with that "{pageTitle}" page </h1>
        <h2>Andd this is my shaggy-balls site, don't ask me astro cli came up with it.</h2>
            <p>This is a tutorial so please bear with me </p>
            <p>Yes yes i use git add . because im a chad then git commit with an -m because im a giga chad and then i git push dat sh****t</p>
  </body>

</html>
