---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog sh*t post";
---

<BaseLayout pageTitle={pageTitle}>
        <p>In this ballsy journey we will ANALyse what is it about shaggy balls</p>
    <ul>
    	{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
